dash==2.5.1
dash_bootstrap_components==1.1.0
dash_labs==1.1.0
deep_translator==1.10.1
docx==0.2.4
Flask==2.1.2
google_trans_new==1.1.9
matplotlib==3.3.4
numpy
pandas
python_docx
gunicorn
dash-tools
pdfminer.six == 20201018
cloudconvert 
Python-Docx
