.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    
    color: var(--worley_blue);
}

#translate-button{
    background-color: var(--worley_blue);
    border-color: var(--worley_blue);
}

.H5{
    padding-top: 3%;
}

#step{
    color: var(--worley_blue);
}